/* Universal font */
* {
    font-family: "Lexend Tera", sans-serif;
}

/* Page to stretch to full screen size */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellowgreen;
    justify-content: space-between;
}

/* Container for calculator screen */
.container {
    width: 350px;
    height: 550px;
    background-color: #3A3B3C;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;

}

.screen-container {
    height: 100px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #D3D3D3;
    width: 330px;
    overflow: hidden;
}

.screen {
    color: white;
    font-size: 50px;

}

/* Keypad numbers and operators */
.operators,
.numbers {
    background-color: grey;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    font-size: 40px;
    width: 75px;
    height: 75px;
    justify-content: center;
    margin: 1px;
    align-items: center;
    color: white;
    border: none;
    outline: none;
}

/* Arrow (backspace) */
img {
    max-height: 100%;
    max-width: 100%;
}

/* Container for the calculator keypad */
.lower-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

}

/* Keypad buttons that are larger (e.g. "0" and "C" buttons */
.wide {
    width: 160px;
    border-radius: 55px;
    padding-left: 20px;  
}
.numbers.wide,
.operators.wide {
    justify-content: flex-start; 
}

/* Change colour when mouse hovers keypad */
.numbers:hover {
    background-color: #B7B8B9;
    color: black;
}


.operators:hover {
    background-color: lightsalmon;
    color: black;
}

.delete:hover {
    background-color: lightcoral;
    
}

.equals:hover {
    background-color:limegreen;
}
